<%- include("header"); -%>

<h2>This is the about page</h2>
<p>kdjfskejsdkjf kdjfaskfjvv akjf fs;kjadksfjvakdjbakjsf aigibkejfkj;askjvakdjf bkladjgjnakjdgvnkasjdfajdsf aslkfjajbnvaksjfxkjagbvk</p>

<%- include("footer"); -%>